@model TalentManagement.Domain.Entities.EducationLevel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<form asp-action="Create">
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">
                <div class="row">
                    <div class="border p-3 bg-white">
                        <div class="form-group row">
                            <h2 class="d-flex justify-content-center pl-3">Add New Education Level</h2>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-8">

                                <div class="form group row py-2">
                                    <div class="col-4">
                                        <label>Education Level Name</label>
                                    </div>
                                    <div class="col-8">
                                        <input asp-for="EducationLevelName" class="form-control" autocomplete="off" />
                                        <span asp-validation-for="EducationLevelName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form group row py-2">
                                    <div class="col-8 offset-4 row">
                                        <div class="col">


                                            <input type="submit" class="btn btn-outline-success  w-100" value="Create" />

                                        </div>
                                        <div class="col">
                                            <a asp-action="Index" class="btn btn-outline-dark w-100">Back</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


