@model TalentManagement.UI.Models.LoginViewModel
@{
    ViewData["Title"] = "Log in into your account";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
@*<div class="row">
    <div class="col-md-6 offset-3">
        <p>
            <h4>Log in to your account</h4>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class=" control-label"></label>
                        <input asp-for="Password" class="form-control">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="offset-md-2 col-md-10">
                            <div class="custom-checkbox">
                                <label asp-for="RememberMe">
                                    <input asp-for="RememberMe" />
                                    @Html.DisplayNameFor(m=>m.RememberMe)
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row  py-2">
                        <br />


                        <div class="col">
                            <input class="btn btn-outline-success " type="submit" value="Log in" />
                            
                                <a class="btn btn btn-outline-dark " asp-controller="Main" asp-action="Index">Cancel</a>

                            
                                
                           
                        </div>
                    </div>

                    <p>
                        <a asp-action="TalentRegister">Register as a new user?</a>
                    </p>
                    <p>
                        <a asp-action="ForgotPassword">Forgot your password?</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>*@
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="row">
                <div classs="card shadow border-0 mt-4">
                    <div class="card-header bg-primary bg-gradient ml-0 py-4">
                        <div class="row">
                            <div class="col-12 text-center">
                                <h2 class="py-2 text-white">Log in to your account</h2>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-4">
                        <div class="row pt-3">
                            <div class="col-md-12 ">
                                <form id="registerForm" asp-controller="Account" asp-action="Login" role="alert">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                   
                                    <div class="form-floating mb-3 col-md-12">
                                        <input asp-for="Email" class="form-control">
                                        <label asp-for="Email" class="ms-2 text-muted"></label>
                                       
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-floating mb-3 col-md-12">
                                        <input asp-for="Password" class="form-control">
                                        <label asp-for="Password" class="ms-2 text-muted"></label>
                                       
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div> 
                                    <div class="form-group">
                                        <br />
                                        <input class="w-100 btn btn-lg btn-primary" type="submit" value="Log in" />
                                        @* <a class="btn btn-outline-secondary float-right" asp-controller="Main" asp-action="Index">Cancel</a>*@
                                        <br />
                                        <br />
                                    </div>

                                    <p>
                                        <a asp-action="TalentRegister">Register as a new user?</a>
                                    </p>
                                    <p>
                                        <a asp-action="ForgotPassword">Forgot your password?</a>
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}
















