<div class="container-xxl py-5">
    <div class="container">
<div class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">
<div class="row">
    <div class="col-md-6 offset-3 alert-success text-center">
        <h2>Your account was created succesfully.</h2>
        <p>You can now log in to your account by pressing this <a asp-controller="Account" asp-action="Login">link</a></p>
    </div>
</div>
</div>
</div>
</div>