@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@if (SignInManager.IsSignedIn(User))
{
    <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
        <div class="dropdown-menu rounded-0 m-0">
            <a asp-controller="Talent" asp-action="Index" class="dropdown-item">Talents</a>
            <a asp-controller="Job" asp-action="Index" class="dropdown-item">Jobs</a>
        </div>
    </div>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="far fa-user"></i>@UserManager.GetUserName(User)
        </a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" method="post" class="form-inline" asp-controller="Account" asp-action="LogOff">
                                        <button type="submit" class="btn nav-link">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Register">
           
            <i class="far fa-user"></i> Register
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Login">
            <i class="fas fa-lock"></i>Sign in
        </a>
    </li>

}
