@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Pages
            <i class="fas fa-angle-down"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" asp-controller="Talent" asp-action="Index" title="">Talents</a>
            <a class="dropdown-item" asp-controller="Job" asp-action="Index" title="">Jobs</a>
            <a class="dropdown-item" asp-controller="Company" asp-action="Index" title="">Companies</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="far fa-user"></i> Hello @UserManager.GetUserName(User)
        </a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" method="post" class="form-inline" asp-controller="Account" asp-action="LogOff">
                                        <button type="submit" class="btn nav-link">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Register" data-toggle="modal" data-target="#exampleModalCenter2">
           
            <i class="far fa-user"></i> Register
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Login" data-toggle="modal" data-target="#exampleModalCenter">
            <i class="fas fa-lock"></i>Sign in
        </a>
    </li>

}
