@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<!-- Carousel Start -->
<div class="container-fluid p-0">
    <div class="owl-carousel header-carousel position-relative">
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="~/jobassets/img/p00.png" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(43, 57, 64, .5);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-10 col-lg-8">
                            <h1 class="display-3 text-white animated slideInDown mb-4">Find The Perfect Job That You Deserved</h1>
                            <p class="fs-5 fw-medium text-white mb-4 pb-2"></p>
                            @if (!SignInManager.IsSignedIn(User))
                            {
                                <a asp-controller="Account" asp-action="TalentRegister" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Apply For A Job</a>
                                <a asp-controller="Account" asp-action="TalentRegister" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">Find A Talent</a>
                            }
                            else if (SignInManager.IsSignedIn(User) && User.IsInRole("Talent"))
                            {
                                <a asp-controller="Talent" asp-action="Create" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Upload Resume</a>
                            }
                            else if (SignInManager.IsSignedIn(User) && User.IsInRole("Company"))
                            {

                                <a asp-controller="Job" asp-action="YourPosts" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">Find A Talent</a>
                            }
                            else if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                            {
                                <a asp-controller="Talent" asp-action="Create" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Apply For A Job</a>
                                <a asp-controller="Job" asp-action="PostJob" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">Find A Talent</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="~/jobassets/img/p0.png" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(43, 57, 64, .5);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-10 col-lg-8">
                            <h1 class="display-3 text-white animated slideInDown mb-4">Find The Best Startup Job That Fit You</h1>
                            <p class="fs-5 fw-medium text-white mb-4 pb-2"></p>
                              @if (!SignInManager.IsSignedIn(User))
                            {
                            <a asp-controller="Account" asp-action="TalentRegister" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Apply For A Job</a>
                                <a asp-controller="Account" asp-action="TalentRegister" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">Find A Talent</a>
                            }
                            else if (SignInManager.IsSignedIn(User) && User.IsInRole("Talent"))
                            {
                                <a asp-controller="Talent" asp-action="Create" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Upload Resume</a>
                            }
                            else if (SignInManager.IsSignedIn(User) && User.IsInRole("Company"))
                            {
                                
                                <a asp-controller="Job" asp-action="YourPosts" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">Find A Talent</a>
                            }
                            else if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                            {
                                <a asp-controller="Talent" asp-action="Create" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Apply For A Job</a>
                                <a asp-controller="Job" asp-action="PostJob" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">Find A Talent</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Category Start -->
<div class="container-xxl py-5">
    <div class="container">
        <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Popular Technology Fields</h1>
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <a class="cat-item rounded p-4" href="">
                   
                    <h6 class="mb-3">Software Engineering</h6>
                   
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <a class="cat-item rounded p-4" href="">
                   
                    <h6 class="mb-3">Web Developer</h6>
                    
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <a class="cat-item rounded p-4" href="">
                   
                    <h6 class="mb-3">Data Science</h6>
                   
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <a class="cat-item rounded p-4" href="">
                  
                    <h6 class="mb-3">Artificial Intellegence</h6>
                   
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <a class="cat-item rounded p-4" href="">
                   
                    <h6 class="mb-3">Network Security</h6>
                   
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <a class="cat-item rounded p-4" href="">
                  
                    <h6 class="mb-3">Data Analyst</h6>
                   
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <a class="cat-item rounded p-4" href="">
                 
                    <h6 class="mb-3">Computer Science</h6>
                   
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <a class="cat-item rounded p-4" href="">
                   
                    <h6 class="mb-3">Computer Programming</h6>
                    
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Category End -->

<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <h1 class="text-center mb-5">Skills</h1>
        <div class="owl-carousel testimonial-carousel">
            <div class="testimonial-item bg-light rounded p-4">
                
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded" src="~/assets/images/cs.png" style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h5 class="mb-1">C#</h5>
                      
                    </div>
                </div>
            </div>
            <div class="testimonial-item bg-light rounded p-4">
               
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded" src="~/assets/images/java.png" style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h5 class="mb-1">Java</h5>
                       
                    </div>
                </div>
            </div>
            <div class="testimonial-item bg-light rounded p-4">
               
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded" src="~/assets/images/py.jpg" style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h5 class="mb-1">Python</h5>
                      
                    </div>
                </div>
            </div>
            <div class="testimonial-item bg-light rounded p-4">
              
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded" src="~/assets/images/js.png" style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h5 class="mb-1">JavaScript</h5>
                       
                    </div>
                </div>
            </div>
            <div class="testimonial-item bg-light rounded p-4">
               
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded" src="~/assets/images/reactt.png" style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h5 class="mb-1">React</h5>
                      
                    </div>
                </div>
            </div>
            <div class="testimonial-item bg-light rounded p-4">
               
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded" src="~/assets/images/net.png" style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h5 class="mb-1">Microsoft.Net</h5>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


