@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_myLayout.cshtml";
}

<div class="banner-info-w3layouts text-center">
 <h3>
    <span>Find the Right Job</span> .
    <span>Right Now.</span>
</h3>

<p>Your job search starts and ends with us.</p>
    <section class="banner-bottom-wthree py-lg-5 py-md-5 py-3">
        <div class="container">
            <div class="btn btn-dark btn-lg">
                <a asp-controller="Account" asp-action="Register" data-toggle="modal" data-target="#exampleModalCenter2">
                     Apply For A Job
                </a>

            </div>
            <div class="btn btn-secondary btn-lg" style="background-color:pink;">
                <a asp-controller="Account" asp-action="Register" data-toggle="modal" data-target="#exampleModalCenter2">
                     Hire A Talent  
                </a>
            </div>
       
            <div class="inner-sec-w3ls py-lg-5  py-3">
                <h3 class="tittle text-center mb-lg-4 mb-3">
                    popular Technology Fields
                </h3>
                <div class="row populor_category_grids mt-5">
                    <div class="col-md-3 category_grid">
                        <div class="view view-tenth">
                            <div class="category_text_box">

                                <h3> Software Development</h3>
                                <p></p>
                            </div>
                            <div class="mask">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 category_grid">
                        <div class="view view1 view-tenth">
                            <div class="category_text_box">

                                <h3>Data Science</h3>
                                <p></p>
                            </div>
                            <div class="mask">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 category_grid">
                        <div class="view view2 view-tenth">
                            <div class="category_text_box">

                                <h3>Computer Science </h3>
                                <p></p>
                            </div>
                            <div class="mask">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 category_grid">
                        <div class="view view3 view-tenth">
                            <div class="category_text_box">

                                <h3>Web Developer</h3>
                                <p></p>
                            </div>
                            <div class="mask">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3 justify-content-center">
                    <div class="col-md-3 category_grid">
                        <div class="view view4 view-tenth">
                            <div class="category_text_box ">
                                <p></p>
                                <h3>Computer Security </h3>
                                <p></p>
                            </div>
                            <div class="mask">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 category_grid">
                        <div class="view view5 view-tenth">
                            <div class="category_text_box">

                                <h3 class="tittle text-center mb-lg-4 mb-3">Network Security </h3>
                                <p></p>
                            </div>
                            <div class="mask">
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </section>
</div>
    


<section class="banner-bottom-wthree mid py-lg-5 py-3">
    <div class="container">
        <div class="inner-sec-w3ls py-lg-5  py-3">
            <div class="mid-info text-center pt-3">
                <h3 class="tittle text-center cen mb-lg-5 mb-3">
                    <span>Some Info</span>Make a Difference with Your Online Resume!
                </h3>
                <p></p>
                <div class="resume">
                    <a asp-controller="Account" asp-action="Register" data-toggle="modal" data-target="#exampleModalCenter2>
                        <i class="far fa-user"></i> Create Acccount
                    </a>
                </div>
                

            </div>

        </div>
    </div>
</section>

