@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_myLayout.cshtml";
}

<div class="banner-info-w3layouts text-center">
 <h3>
    <span>Find the Right Job</span> .
    <span>Right Now.</span>
</h3>
    
    
    
<p>Your job search starts and ends with us.</p>
    <section class="banner-bottom-wthree py-lg-5 py-md-5 py-3">
        <div class="container">
        <div class="btn btn-dark btn-lg ">
            <a asp-controller="Account" asp-action="Register" data-toggle="modal" data-target="#exampleModalCenter2" >
                Apply For A Job
            </a>

        </div>
        <div class="btn btn-success btn-lg" >
            <a asp-controller="Account" asp-action="Register" data-toggle="modal" data-target="#exampleModalCenter2">
                Hire A Talent
            </a>
          </div>
            <div class="inner-sec-w3ls py-lg-5  py-3">
                <h3 class="tittle text-center mb-lg-4 mb-3">
                    Popular Technology Fields
                </h3>

                <div class="row populor_category_grids mt-5" >
                    <div class="col-md-3 category_grid">
                        <div class="view view-tenth" style="background-color:darkseagreen;">
                            <div class="category_text_box">

                                <h3> Software Development</h3>
                                
                            </div>
                            <div class="mask">
                                <a href="#">
                                    <img src="~/assets/images/SofD.jpg" class="img-fluid" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 category_grid">
                        <div class="view view1 view-tenth" style="background-color:cornsilk;">
                            <div class="category_text_box">

                                <h3>Data Science</h3>
                                <p></p>
                            </div>
                            <div class="mask">
                                <a href="#">
                                    <img src="~/assets/images/dataS.jpg" class="img-fluid" alt="">
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 category_grid">
                        <div class="view view2 view-tenth" style="background-color:lightgray">
                            <div class="category_text_box">

                                <h3>Network Security </h3>
                                <p></p>
                            </div>
                            <div class="mask">
                                <a href="#">
                                    <img src="~/assets/images/netSec.jpg" class="img-fluid" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 category_grid">
                        <div class="view view3 view-tenth" style="background-color:lightsteelblue;">
                            <div class="category_text_box">

                                <h3>System Analyst</h3>
                                <p></p>
                            </div>
                            <div class="mask">
                                <a href="#">
                                    <img src="~/assets/images/sysAna.jpg" class="img-fluid" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3 justify-content-center">
                    <div class="col-md-3 category_grid">
                        <div class="view view4 view-tenth" style="background-color:lightblue;">
                            <div class="category_text_box ">
                                <p></p>
                                <h3>Data Visualization </h3>
                                <p></p>
                            </div>
                            <div class="mask">
                                <a href="#">
                                    <img src="~/assets/images/dataVi.jpg" class="img-fluid" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 category_grid">
                        <div class="view view5 view-tenth" style="background-color:lightslategray;">
                            <div class="category_text_box">

                                <h3 class="tittle text-center mb-lg-4 mb-3">Software Engineering </h3>
                                <p></p>
                            </div>
                            <div class="mask">
                                <a href="#">
                                    <img src="~/assets/images/SofD.jpg" class="img-fluid" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 category_grid">
                        <div class="view view5 view-tenth" style="background-color:darkslategray;">
                            <div class="category_text_box">

                                <h3 class="tittle text-center mb-lg-4 mb-3 ">Artifical Intelligence </h3>
                                <p></p>
                            </div>
                            <div class="mask">
                                <a href="#">
                                    <img src="~/assets/images/AI.jpg" class="img-fluid" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
        
    </section>
    </div>
    


<section class="banner-bottom-wthree mid py-lg-5 py-3">
    <div class="container">
        <div class="inner-sec-w3ls py-lg-5  py-3">
            <div class="mid-info text-center pt-3">
                <h3 class="tittle text-center cen mb-lg-5 mb-3">
                   Join Our Program!
                </h3>
                <p></p>
                <div class="resume">
                    <a asp-controller="Account" asp-action="Register" data-toggle="modal" data-target="#exampleModalCenter2">
                        Create an Account
                    </a>
                </div>
                

            </div>

        </div>
    </div>
</section>

<section class="banner-bottom-wthree py-lg-5 py-md-5 py-3">
    <div class="container">
        <div class="inner-sec-w3ls py-lg-5  py-3">
            <!---728x90--->
            <h3 class="tittle text-center mb-lg-5 mb-3">
                Skills
            </h3>

            <div class="mid-info text-center mt-5">
                <div class="parent-chart">
                    <div class="level lev-one top-level">
                        <div class="flow-position">
                            <img src="~/assets/images/skill.png" alt=" " class="img-fluid rounded-circle">
                            <br>
                            <strong></strong>
                            <br>
                        </div>
                    </div>
                    <div class="flow-chart">
                        <div class="level lev-two last-lev">
                            <div class="flow-position">
                                <img src="~/assets/images/java.png" alt=" " class="img-fluid rounded-circle">
                                <br>
                                <strong>Java</strong>
                                <br> 
                            </div>
                            <!--
                            -->
                            <div class="flow-position">
                                <img src="~/assets/images/js.png" alt=" " class="img-fluid rounded-circle">
                                <br>
                                <strong>
                                   Java Script
                                </strong>
                                <br> 
                            </div>
                            <!--
                            -->
                            <div class="flow-position">
                                <img src="~/assets/images/py.jpg" alt=" " class="img-fluid rounded-circle">
                                <br>
                                <strong>
                                    Python
                                </strong>
                                <br> 
                            </div>
                            <!--
                            -->
                            <div class="flow-position">
                                <img src="~/assets/images/net.png" alt=" " class="img-fluid rounded-circle">
                                <br>
                                <strong>Microsoft .Net </strong>
                                <br> 
                            </div>
                            <!--
                            -->
                            <div class="flow-position">
                                <img src="~/assets/images/reactt.png" alt=" " class="img-fluid rounded-circle">
                                <br>
                                <strong>
                                  React
                                </strong>
                                <br> 
                            </div>
                            <!--
                            -->
                            <div class="flow-position">
                                <img src="~/assets/images/c.png" alt=" " class="img-fluid rounded-circle">
                                <br>
                                <strong>C</strong>
                                <br> 
                            </div>
                            <!--
                            -->
                            <div class="flow-position">
                                <img src="~/assets/images/cs.png" alt=" " class="img-fluid rounded-circle">
                                <br>
                                <strong>
                                   C#
                                </strong>
                                <br> 
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

