<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">
<div class="row">
    <div class="col-md-6 offset-3 alert-success text-center">
<h2>Your resume is submitted .</h2>
<p>When your resume is accepted you can see it in resume section.</p>
    </div>
</div>
</div>
</div>
</div>