<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="row">
                <div class="col-md-6 offset-3 alert-danger text-center">
                    <h2>The status of your resume is still pending.</h2>
                    <p>You can not apply to a job until your resume is accepted.</p>
                </div>
            </div>
        </div>
    </div>
</div>
