<div class="container-xxl py-5">
    <div class="container">
<div class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">
<div class="row">
    <div class="col-md-6 offset-3 alert-danger text-center">
        <h2>Failed to Apply.</h2>
        <p>Please fill in your information and upload your resume first by pressing this<a asp-controller="Talent" asp-action="Create">link</a></p>
    </div>
</div>
</div>
</div>
</div>